.signal {
    border-radius:100%;
    display: inline-block;
    width: 32px;
    height: 32px;
    border:0 none transparent;
    background-color: tomato;
}

table {
    width: 100%;
    font-family: "Verdana";
}
thead td {
    padding-bottom: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

tbody td {
    color: #333;
    padding: 10px 0;
}

tfoot td {
    padding-top:2em;
}

td:last-child {
    max-width: 50vw;
    padding-left: 10px;
}

input,
select {
    font-family: "Verdana";
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1em;
}
button {
    font-family: "Verdana";
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1em;
}

button:hover {
    background-color: aliceblue;
    border-color: deepskyblue;
    color: deepskyblue;
    cursor: pointer;
}

small {
    color: #AAA;
}
